page-user-add{

.item-md{
  padding: 0px;
}
.item-ios{
  padding: 0px;
}
.item-md.item-block .item-inner {
  padding-right: 0px; 
}
.scroll-content{
    overflow-y: scroll;
    margin-top:56px!important;
    margin-bottom: 0px!important;
}
}