page-order-history {
  .funel {
    color: #ff4400;
  }
  .label1 {
    color: map-get($colors, white-a) !important;
    margin: 0px !important;
  }
  .col {
    padding: 3px !important;
    height: 25px;
  }
  .text-input-md {
    margin-top: 1px !important;
    margin-bottom: 1px !important;
    height: 23px !important;
    padding-bottom: 2 !important;
    text-align: center !important;
  }
  ion-input {
    border: 1px solid #4f87ee;
    color: #4f87ee;
    border-radius: 5px;
    height: 25px;
    width: 90%;
    text-align: center !important;
  }
  .searchbar-wp .searchbar-input {
    border-radius: 100px;
    width: 90%;
    height: 40px !important;
    margin-left: 5%;
  }
  .searchbar-wp .searchbar-input-container {
    border: 0px solid rgba(0, 0, 0, 0.5) !important;
    border-radius: 100px;
  }
}
