page-quotation-upload {
  .scroll-content {
    overflow-y: scroll;
    margin-top: 56px !important;
    margin-bottom: 50px !important;
  }
  .div_cls {
    height: 60px;
    width: 60%;
    margin-top: 5%;
    border: 1px solid map-get($colors, primary);
    background: none !important;
    text-align: center;
    border-radius: 0px !important;
  }
  .button1 {
    margin-left: -10px !important;
    border-radius: 100%;
    font-weight: normal;
    margin: 0px;
    padding-left: 16px;
    margin-top: -60px;
    width: 35px !important;
    height: 30px !important;
    text-align: center !important;
  }
  .button-md {
    border-radius: 100%;
    font-weight: normal;
    align-content: center;
    text-align: center;
  }
  .next {
    border-radius: 0px !important;
    height: 45px !important;
  }
  .button-ios {
    border-radius: 100%;
    font-weight: normal;
    align-content: center;
    text-align: center;
  }
  .button-wp {
    border-radius: 100%;
    font-weight: normal;
    align-content: center;
    text-align: center;
  }
}
