<ion-item>
    <ion-label class="label1 x-small">Zone:</ion-label>
    <ion-input type="text" placeholder="Zone" maxLength="50" [(ngModel)]="deliveryZone.zone"></ion-input>
</ion-item>
<ion-item>
    <ion-label class="label1 x-small">Area:</ion-label>
    <ion-input type="text" placeholder="Area" maxLength="50" [(ngModel)]="deliveryZone.area"></ion-input>
</ion-item>
<ion-item>
    <ion-label class="label1 x-small">Inner Radius </ion-label>
    <ion-input type="number" placeholder="Inner radius" maxLength="10" [(ngModel)]="deliveryZone.innerRadius"></ion-input>
</ion-item>
<ion-item>
    <ion-label class="label1 x-small">Outer Radius </ion-label>
    <ion-input type="number" placeholder="Outer radius" maxLength="10" [(ngModel)]="deliveryZone.outerRadius"></ion-input>
</ion-item>
<ion-item>
    <ion-label class="label1 x-small">Min. Order Value:</ion-label>
    <ion-input type="number" placeholder="Order value" maxLength="10" [(ngModel)]="deliveryZone.minOrder"></ion-input>
</ion-item>
<ion-item>
    <ion-label class="label1 x-small">Delivery Charge:</ion-label>
    <ion-input type="number" placeholder="Delivery Charge" maxLength="10" [(ngModel)]="deliveryZone.deliveryCharge"></ion-input>
</ion-item>
<ion-item>
    <ion-label class="label1 x-small">Free delivery above:</ion-label>
    <ion-input type="number" placeholder="Free delivery above" maxLength="10" [(ngModel)]="deliveryZone.freeDeliveryOrder"></ion-input>
</ion-item>