page-user-edit {
  .item-md.item-block .item-inner {
    padding-right: 0px;
  }
  .item-ios.item-block .item-inner {
    padding-right: 0px;
  }
  .item-wp.item-block .item-inner {
    padding-right: 0px;
  }
  .item-md {
    padding: 0px;
  }
  .item-ios {
    padding: 0px;
  }
  .item-wp {
    padding: 0px;
  }
}
