page-business-index {
  .label-md {
    margin: 0px !important;
  }
  .label-ios {
    margin: 0px !important;
  }
  .label-wp {
    margin: 0px !important;
  }
  ion-card ion-item:hover {
    background-color: map-get($colors, dark-x) !important;
  }
}
