.page-pharmacy-index{
  
}
 .tabs-md .tab-button-icon{
       font-size:35px;
     
   }
    .tabs-ios .tab-button-icon{
       font-size:35px;
   }
   .tabs-ios .tab-button{
       height: 56px;
   }
   .tabs-md .tab-button{
       height: 56px;
   } 
   .tabs-wp .tab-button{
       height: 56px!important;
   }
   .tabs-ios .tab-button-text{
       margin-top:0px;
       margin-bottom: 1px;
       min-height: 11px;
       font-size: 12px;
    }   

      