page-user-list {
  .div2 {
    margin-top: 10%;
    margin-left: 76%;
    width: 55px;
    height: 55px;
    position: fixed;
    border-radius: 100%;
    background: $app-background;
  }
  .icon2 {
    color: map-get($colors, white-a);
    padding-left: 17px;
    padding-top: 10px;
    font-size: 35px;
  }
  .col {
    padding: 2px;
  }
  .icon-small {
    font-size: 20px !important;
    color: map-get($colors, white-a) !important;
  }
  .sliding_btn {
    background: map-get($colors, primary);
    font-size: small;
    color: map-get($colors, white-a) !important;
    border: 1px solid map-get($colors, primary) !important;
    width: 60px !important;
  }
  .item-md[detail-push] .item-inner {
    padding-right: 32px !important;
  }
}
